.container {
  padding: 0;
  background: #f5f5f5;
}

.content {
  padding: 0 2px;

  :global {
    .ant-tabs {
      background: white;
      border-radius: 8px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
    }

    .ant-tabs-nav {
      margin-bottom: 24px;
    }

    .ant-tabs-tab {
      font-size: 16px;
      padding: 12px 16px;
    }
  }
}
