.pageTitle {
  margin: 0 0 16px 0;
  padding: 0 24px;
  font-size: 24px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  gap: 8px;

  .icon {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
  }
}
